@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
h1{
  color:white;
  font-family: 'Bungee Spice', cursive;
}
h3 {
  font-family: 'Oswald', sans-serif;
}
.navbar-brand {
  font-family: 'Oswald', sans-serif;
}
body {
  
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/590/674/non_2x/doge-coin-on-fire-red-background-and-stars-free-vector.jpg");
    color: gold;
    font-size:medium;
    font-weight: bolder;

  }
  #outputDiv {
    display: none;
    
  }
  
  .navbar-link{
    color:blue;
    font-weight: bolder;
    font-size:medium;
  }